openapi: 3.2.0
info:
  title: Splitit Authentication API
  contact:
    name: Splitit Developer Support
    url: https://developers.splitit.com/
  license:
    name: Proprietary
  version: '1.0'
  description: 'Operations tagged Authentication across 2 of this provider''s published API definitions: splitit-account-management-api.yml, splitit-installments-api-v3.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://webapi.production.splitit.com
  description: Production
- url: https://web-api-v3.sandbox.splitit.com
  description: Sandbox
security:
- bearerAuth: []
tags:
- name: Authentication
  description: Obtain access tokens
paths:
  /token:
    post:
      tags:
      - Authentication
      operationId: getToken
      summary: Get Splitit Token
      description: Authenticate using your client_id and client_secret to obtain a Bearer access token for use in all subsequent API calls.
      security: []
      servers:
      - url: https://id.production.splitit.com/connect
        description: Production Identity Server
      - url: https://id.sandbox.splitit.com/connect
        description: Sandbox Identity Server
      requestBody:
        required: true
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              required:
              - grant_type
              - client_id
              - client_secret
              properties:
                grant_type:
                  type: string
                  enum:
                  - client_credentials
                client_id:
                  type: string
                  description: API Username from Merchant Hub
                client_secret:
                  type: string
                  description: Active API password from Merchant Hub
                scope:
                  type: string
                  example: api.v1 api.v3
      responses:
        '200':
          description: Access token issued successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TokenResponse'
        '401':
          description: Invalid credentials
    servers:
    - url: https://webapi.production.splitit.com
      description: Production
    - url: https://web-api-v3.sandbox.splitit.com
      description: Sandbox
components:
  schemas:
    TokenResponse:
      type: object
      properties:
        access_token:
          type: string
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
    ErrorResponse:
      type: object
      properties:
        errorCode:
          type: string
          description: Splitit error code (e.g., 400-542, 400-563)
        message:
          type: string
          description: Human-readable error description
        additionalInfo:
          type: string
          description: Additional context about the error
    TokenResponse_2:
      type: object
      properties:
        access_token:
          type: string
          description: Bearer token for use in API requests
        token_type:
          type: string
          example: Bearer
        expires_in:
          type: integer
          description: Token lifetime in seconds
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- splitit-account-management-api.yml
- splitit-installments-api-v3.yml
